
.navbar img {
    height: 25px;
}
.navbar {
    margin-left: 25px;
}
.nav{
    margin-right:25px;
}

.image{
    height: 100%;
    
    padding-top: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}